        <div class="item">
            <div>Avatar URL</div>
            <div>
               <input 
               type="url" 
               name="avatar_url"
               placeholder="http://"
               value="{{teacher.avatar_url}}"> 
            </div>
        </div>

        <div class="item">
            <div>Nome completo</div>
            <div>
                <input
                 type="text"
                 name="name"
                 placeholder="Insira seu nome"
                 value="{{teacher.name}}">
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input 
                type="date" 
                name="birth_date"
                value="{{teacher.birth_date}}">
            </div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>
                <select name="education_level">
                    <option 
                        value="highschool"
                        {% if teacher.education_level == "highschool" %}
                            selected
                        {% endif %}>Ensino Médio Completo
                    </option>
                    <option 
                        value="college"
                        {% if teacher.education_level == "college" %}
                            selected
                        {% endif %}>Ensino Superior Completo
                    </option>
                    <option 
                        value="master"
                        {% if teacher.education_level == "master" %}
                            selected
                        {% endif %}
                    >Mestrado
                    </option>
                    <option 
                        value="doctorate"
                        {% if teacher.education_level == "doctorate" %}
                            selected
                        {% endif %}>Doutorado
                    </option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Tipo de Aula</div>
            <div>
                <span>
                    <input 
                        type="radio" 
                        name="class_type" 
                        value="presencial"
                        {% if teacher.class_type == "presencial" %}
                            checked
                        {% endif %}>Presencial</span>
                <span>
                    <input 
                        type="radio" 
                        name="class_type" 
                        value="à distância"
                        {% if teacher.class_type == "à distância" %}
                            checked
                        {% endif %}>À distância</span>
            </div>
        </div>

        <div class="item">
            <div>Área de atuação</div>
            <div>
                <input 
                type="text" 
                name="subjects_taught"
                placeholder="Digite as matérias lecionadas separadas por vírgula"
                value="{{teacher.subjects_taught}}">
            </div>
        </div>

        